<%- include("components/header") %>

<body>
    <!-- Modal -->
    <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="border-radius: 1rem;">
                <div class="modal-header">
                    <div class="modal-title">Add a Bookmark</div>
                    <svg class="bi bi-bookmark-fill add-modal-img" width="3em" height="3em" viewBox="0 0 16 16"
                        fill="#FFEB3A" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 3a2 2 0 012-2h6a2 2 0 012 2v12l-5-3-5 3V3z"
                            clip-rule="evenodd" />
                    </svg>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-bookmark" role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            <form action="/bookmarks?folderId=<%= folder._id %>" method="POST" class="modal-form">
                                <div class="field">
                                    <label>Bookmark URL</label>
                                    <div class="control">
                                        <input type="text" name="url" size="56" class="modal-field">
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Folder</label>
                                    <div class="control">
                                        <select name="folder">
                                            <option value="dashboard">Dashboard</option>
                                            <% user.content.folder.forEach(obj => { %>
                                                <% if(obj._id == folder._id){ %>
                                                    <option value="<%= obj._id %>" selected><%= obj.name %></option>
                                                <% }else{ %>
                                                    <option value="<%= obj._id %>"><%= obj.name %></option>
                                                <% } %>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Notes (optional)</label>
                                    <div class="control">
                                        <textarea type="text" name="notes" rows="5" cols="56" style="resize:none;"
                                            class="modal-field"></textarea>
                                    </div>
                                </div>
                                <div class="control">
                                    <input type="submit" value="Add Bookmark" class="bookmark-add-btn yellow-btn">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="folder-path">
            <a href="/user/dashboard" style="color: black;">Dashboard</a>
            <p style="padding-left: 1rem; padding-right: 1rem;">/</p>
            <a href="/user/<%= folder.id %>" style="color: black;"><%= folder.name %></a>
        </div>
        <% if (message.length > 0) { %>
            <div style="color: red;"><%= message %></div>
        <% } %>
        <% if(folder.content.length > 0){ %>
            <label style="opacity: 75%; padding-top: 1rem;">Bookmarks - <%=folder.content.length %></label>
            <div class="card-columns">
                <% folder.content.forEach(entity => { %>
                    <% if(entity.meta.image == ""){ %>
                        <a href="<%= entity.link %>" target="_blank" style="text-decoration: none;">
                            <div class="card basic entity" data-id="<%= entity._id %>">
                                <div class="body">
                                    <div class="content">
                                        <div class="card-title"><%= entity.meta.title %></div>
                                        <div class="card-website"><%= entity.link %></div>
                                        <% if(entity.notes == ""){ %>
                                            <div class="card-desc"><%= entity.meta.description %></div>
                                        <% }else{ %>
                                            <div class="card-desc"><%= entity.notes %></div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </a>
                    <% }else{ %>
                        <a href="<%= entity.link %>" target="_blank" style="text-decoration: none;">
                            <div class="card basic w-image entity" data-id="<%= entity._id %>">
                                <div class="body">
                                    <div class="image">
                                        <img src="<%= entity.meta.image %>" style="position: absolute; display: block; margin-left: -1rem; width: 300px;">
                                    </div>
                                    <div class="content">
                                        <div class="card-title"><%= entity.meta.title %></div>
                                        <div class="card-website"><%= entity.link %></div>
                                        <% if(entity.notes == ""){ %>
                                            <div class="card-desc"><%= entity.meta.description %></div>
                                        <% }else{ %>
                                            <div class="card-desc"><%= entity.notes %></div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </a>
                    <% } %>


                    <div class="bookmark-preview" id="<%= entity._id %>">
                        <div class="bookmark-preview-header">
                            <div class="backdrop">
                                <img src="<%= entity.meta.image %>" style="position: absolute; display: block; width: 500px;" onerror="this.onerror=null;this.src='/images/ffeb3a.png';">
                            </div>
                            <div class="logo">
                                <img class="logo-img" src="<%= entity.meta.flavUrl %>" onerror="this.onerror=null;this.src='/images/default-flav.png';">
                            </div>
                            <div class="content">
                                <div class="title"><%= entity.meta.title %></div>
                                <div class="website"><%= entity.link %></div>
                                <div class="description"><%= entity.meta.description %></div>
                            </div>
                        </div>
                        <form action="/update?id=<%= entity._id %>" method="POST" class="body">
                            <div class="field">
                                <div class="title-label">Title</div>
                                <div class="control">
                                    <input class="title" type="text" name="title" value="<%= entity.meta.title %>" size="52">
                                </div>
                            </div>
                            <div class="field">
                                <div class="title-label">Description</div>
                                <div class="control">
                                    <% if(entity.notes == ""){ %>
                                    <textarea class="desc" name="notes" style="resize:none;" rows="4"
                                        cols="52"><%= entity.meta.description %></textarea>
                                    <% }else{ %>
                                    <textarea class="desc" name="notes" style="resize:none;" rows="4"
                                        cols="52"><%= entity.notes %></textarea>
                                    <% } %>
                                </div>
                            </div>
                            <div class="field">
                                <div class="title-label">Folder</div>
                                <div class="control">
                                    <select name="newFolder">
                                        <option value="dashboard">Dashboard</option>
                                        <% user.content.folder.forEach(obj => { %>
                                            <% if(obj._id == folder._id){ %>
                                                <option value="<%= obj._id %>" selected><%= obj.name %></option>
                                            <% }else{ %>
                                                <option value="<%= obj._id %>"><%= obj.name %></option>
                                            <% } %>
                                        <% }); %>
                                    </select>
                                </div>
                            </div>
                            <input type="submit" value="Save" class="yellow-btn option-btn save-btn">
                        </form>
                        <div class="option-buttons">
                            <a href="<%= entity.link %>" target="_blank">
                                <button class="yellow-btn option-btn">Open</button>
                            </a>
                            <a class="yellow-btn option-btn" href="/user/<%= folder._id %>">Back</a>
                            <form action="/delete?id=<%= entity._id %>" method="POST">
                                <button type="submit" class="btn btn-dark option-btn">Delete</button>
                            </form>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% }else{ %>
            <img class="no-entity" src="/images/add-entity.svg">
            <br>
            <p class="no-entity-text">This folder is empty. Press the "+" button to create a bookmark!</p>
        <% } %>
    </div>

    <!-- custom context menu-->
    <nav class="context-menu">
        <ul class="context-menu-items">
            <div class="context-menu-container">
                <a class="context-menu-link" data-action="view">
                    <li class="context-menu-item context-menu-top">
                        <svg class="bi bi-box-arrow-up-right" width="1em" height="1em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1.5 13A1.5 1.5 0 003 14.5h8a1.5 1.5 0 001.5-1.5V9a.5.5 0 00-1 0v4a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V5a.5.5 0 01.5-.5h4a.5.5 0 000-1H3A1.5 1.5 0 001.5 5v8zm7-11a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V2.5H9a.5.5 0 01-.5-.5z"
                                clip-rule="evenodd" />
                            <path fill-rule="evenodd"
                                d="M14.354 1.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z"
                                clip-rule="evenodd" />
                        </svg>
                        Edit
                    </li>
                </a>
                <a class="context-menu-link" data-action="delete">
                    <li class="context-menu-item context-menu-bottom">
                        <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                            <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                                clip-rule="evenodd" />
                        </svg>
                        Delete
                    </li>
                </a>
            </div>
        </ul>
        <form action="" method="POST" id="context-menu-action"></form>
    </nav>
    <!-- Button trigger modal -->
    <button type="button" class="yellow-btn add-entity" data-toggle="modal" data-target="#add-modal"
        style="width: 3rem; height: 3rem; border-radius: .5rem;">
        <svg class="bi bi-plus add-entity-img" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z"
                clip-rule="evenodd" />
            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z"
                clip-rule="evenodd" />
        </svg>
    </button>
    <div class="shade" id="shade"></div>
</body>
<!-- Appzi: Capture Insightful Feedback -->
<script async src="https://w.appzi.io/bootstrap/bundle.js?token=LwYdk"></script>
<!-- End Appzi -->
<%- include("components/footer") %>
<%- include("components/style") %>
<%- include("components/context-menu-script") %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>